.w3-theme-l5 {color:#000 !important; background-color:#f9f4f4 !important}
.w3-theme-l4 {color:#000 !important; background-color:#ebdbdb !important}
.w3-theme-l3 {color:#000 !important; background-color:#d8b7b6 !important}
.w3-theme-l2 {color:#fff !important; background-color:#c49292 !important}
.w3-theme-l1 {color:#fff !important; background-color:#b06e6d !important}
.w3-theme-d1 {color:#fff !important; background-color:#864948 !important}
.w3-theme-d2 {color:#fff !important; background-color:#774140 !important}
.w3-theme-d3 {color:#fff !important; background-color:#683938 !important}
.w3-theme-d4 {color:#fff !important; background-color:#5a3130 !important}
.w3-theme-d5 {color:#fff !important; background-color:#4b2928 !important}

.w3-theme-light {color:#000 !important; background-color:#f9f4f4 !important}
.w3-theme-dark {color:#fff !important; background-color:#4b2928 !important}
.w3-theme-action {color:#fff !important; background-color:#4b2928 !important}

.w3-theme {color:#fff !important; background-color:#955251 !important}
.w3-text-theme {color:#955251 !important}
.w3-border-theme {border-color:#955251 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#955251 !important}
.w3-hover-text-theme:hover {color:#955251 !important}
.w3-hover-border-theme:hover {border-color:#955251 !important}
:root {
	/* añadir los códigos de colores de la generación */
	--w3-theme: #6f9fd8;
	--w3-theme-l3: #c5d8ef;
}