.imagenFondoIndex{
	position: absolute;
	width: 100%;
	height: 100%;
}


#form_login{
	position: absolute;
	z-index: 300;
	background:rgba(255,255,255,0.95);
}

.input_login{
	width: 70%;
	margin-left: 15%;
}

@media only screen and (min-width : 1000px) and (max-width : 2700px) {
	#div_contenedor_principal{
		width: 90%;
		margin-left: 5%;
	}

	.formInModal{
		width: 50%; 
		margin-left: 25%;
	}

}

@media only screen and (min-width : 0px) and (max-width : 999px) {
	#div_contenedor_principal{
		width: 100%;
	}

	.formInModal{
		width: 90%; 
		margin-left: 5%;
	}

}